[submodule "hostapd"]
	path = hostapd
	url = https://w1.fi/hostap.git
[submodule "bluez"]
	path = bluez
	url = https://git.kernel.org/pub/scm/bluetooth/bluez.git
[submodule "core-c"]
	path = core-c
	url = ../opendroneid-core-c.git
[submodule "gpsd"]
	path = gpsd
	url = https://gitlab.com/gpsd/gpsd.git
